<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon</title>
    <style>
      .pokemon1 {
        position: absolute;
        height: 150px;
        width: 150px;
      }
      #pokemon2 {
        position: absolute;
        height: 150px;
        width: 150px;
      }
    </style>
  </head>
  <body>
    <!-- <h1>Random Coordinates</h1>
    <p>X: <span id="xCoordinate"></span></p>
    <p>Y: <span id="yCoordinate"></span></p> -->
    <!-- <img
      id="pokemon1"
      src="https://assets.pokemon.com/assets/cms2/img/pokedex/full//151.png"
    /> -->
      <img
        id="pokemon2"
        src="https://images.secretlab.co/theme/common/collab_pokemon_catalog_charizard-min.png"
      />
    <script>
      let id;
      if (localStorage.userId) {
        id = localStorage.userId;
      } else {
        id = Math.floor(Math.random() * 100);
        localStorage.userId = id;
      }
      const avatar = document.getElementById("pokemon2");
      document.addEventListener("keydown", move);

      function updateCoordinates() {
        fetch(`/coordinates/${id}?x=${currentX}&y=${currentY}`)
          .then((response) => response.json())
          .then((data) => {
            for (const _id in data) {
              if (id == _id) {
                continue;
              }
              let newAvatar = document.getElementById("pokemon" + _id);
              if (!newAvatar) {
                newAvatar = document.createElement("img");
                newAvatar.id = "pokemon" + _id;
                newAvatar.src =
                  "https://assets.pokemon.com/assets/cms2/img/pokedex/full//151.png";
                newAvatar.classList.add("pokemon1")
                document.body.appendChild(newAvatar);
              }
              newAvatar.style.position = "absolute";
              newAvatar.style.left = data[_id][0] + "px";
              newAvatar.style.top = data[_id][1] + "px";
            }
            // console.log(avatar.id.slice(7))
            //   if (data[id]) {
            //     return
            //   } else {
            //     if (!document.getElementById(""data[id])) {

            //     }
            //   }
          });
      }
      setInterval(updateCoordinates, 1000);

      let currentY = parseInt(window.getComputedStyle(avatar).top);
      let currentX = parseInt(window.getComputedStyle(avatar).left);
      function move(event) {
        switch (event.key) {
          case "w":
            avatar.style.top = currentY - 150 + "px";
            currentY -= 150;
            break;
          case "s":
            avatar.style.top = currentY + 150 + "px";
            currentY += 150;
            break;
          case "a":
            avatar.style.left = currentX - 150 + "px";
            currentX -= 150;
            break;
          case "d":
            avatar.style.left = currentX + 150 + "px";
            currentX += 150;
            break;
        }
      }
      // fetch("/coordinates")
      //     document.getElementById("xCoordinate").innerText = data.xCoordinate;
      //     document.getElementById("yCoordinate").innerText = data.yCoordinate;
      //     document.getElementById(
      //       "pokemon1"
      //     ).style.top = `${data.yCoordinate}px`;
      //     document.getElementById(
      //       "pokemon1"
      //     ).style.left = `${data.xCoordinate}px`;
    </script>
  </body>
</html>
